.wrapper {
  margin: 0 auto;  
  max-width: 960px; 
}

body{
  font-family: 'Playfair Display', serif;
  font-size: 1em;
}
nav {
  --main-bg-color: #2e97f8;
  --second-bg-color:#3604be;
}
footer{

  --main-bg-color: 2e97f8;

}
article ul{
  list-style-type: none;
}

article p{
  padding-left: 10vw;
}

.nabidka{
  padding-left: 10vw;
  padding-right: 10vw;
}

.nabidka h3{
  display: flex;
}

.nabidka p{
  display: flex;
  
}

.dojednohoradku {
  display: flex;
  align-items: center;
  
  justify-content: left;  
  
}
.footr{
  
  height: fit-content;
}


.footr img {
  padding-right: 5vw;
  width: 15vw;
  max-height: 18vh;
  float:right;
}

@media only screen and (max-width: 960px){
  .footr img{
    width: 15vh;
    height: 15vh;
    margin-top: 3vh;
  }

}


footer {
  background-color: #2e97f8;
}
footer li {
  color: white;
}

article{
  max-width:100vw;
}

article h2{
  padding-left: 10vw;
  font-size: 1,8em;
}

#wrapper {
  width: 90vw; 
  overflow: hidden; 
}
#first {
  padding-left: 10vw;
  width: 50vw;
  float:left;
  text-align: justify;
}
#second {
  padding-left: 5vw;
  overflow: hidden; 
}
@media only screen and (min-width: 961px){
  #third img{
    width:0;
    height: 0;
  }
}
#third img{
  padding-left: 10vw;
  width: 70vw;
}
@media only screen and (max-width: 960px){
  #second {
    width: 0;
  }
  #first{
    width: 90vw;
  }
}

#second img{
  width: 25vw;
}



nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  var(--main-bg-color);
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 23px 22px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: var(--second-bg-color);
}

.active {
  background-color:  var(--main-bg-color);
}

.link::after{
  content:"←"
}

#logo{
  float:right
}